* {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    /*border:1px solid red;*/
}

/*formatting the page with 2 columns.*/

html, body {
    height: 100%;
    background-image: url('../img/congruent_pentagon.png');
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 3.75em; /*60 pixels if font size is 16*/
    background-color: #7da; 
}

#content {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 3.75em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#content nav {
    display: table-cell;
    width: 20%;
    background-color: rgba(219, 226, 216, .8);
}

#content .main {
    display: table-cell;
    width: 80%;
}

/*finished formatting here*/

h1,
h2,
.add,
li.task,
footer,
.hidden p {
    text-align: center;
}

/*styling lists*/

ul {
    display: table;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.projects li:before {
    /*adds new bullets to the prjects list*/
    padding-right: .5em;
    content: "•" ;
    color: green;
}

.projects li {
    margin-bottom: 1em;
}

ul.tasks {
    width: 75%;
}

li.task {
    /*shape of each task li*/
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: .3em 1em;
    margin-bottom: 1em;

    /*color of button*/
    background-color: rgba(255, 255, 255, .8);
    border: .2em solid rgb(250, 252, 249);
    box-shadow: 2px 2px 1px black;
}

span.right {
    /*move X for delete to the right*/
    float: right;
}

span.left {
    /*move checkmark for completed to the left*/
    float: left;
}

span.middle {
    /*puts a margin between text and checkmark/delete mark*/
    margin: 0em 1em;
}

/*circle-logo in CSS. It fills 50% of the .circle div, and is centered
between the nav*/
.circle {
    height: 105px;
    width: 50%;
    margin: 0 auto;
}

h1 {
    line-height: 3em;
    border: 7px double black;
    border-radius: 50%;
    font-size: 1.5em;
}



/*add new project button styling*/

.add input[type="button"] {

    /*styling*/
    margin-left: .5em;
    margin-right: .5em;
    padding: 1em .5em;
    /*background-image: url('../img/congruent_pentagon.png');*/
    background-color: rgb(119, 221, 170);
    /*border: .2em solid rgb(107, 199, 153);*/
    border-radius: 20%;
    box-shadow: 2px 2px 1px black;
}

/*positioning in the nav*/
h2 {
    margin-top: 20%;
    border-bottom: 1px solid black;
}


/*styling the add new tasks bar*/
.task-sec input[type="text"] {
    /*positioning*/
    width: 75%;
    display: block;
    margin: 1em auto;

    /*styling*/
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    color: rgba(255, 255, 255, .5);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; 
}

/*add new project hidden section styling*/
.hidden input[type="text"] {
    /*positioning*/
    width: 75%;
    /*display: block;*/
    margin: 1em auto;

    /*styling*/
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    color: rgba(255, 255, 255, .5);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; 
}


.hidden input[type="button"] {
    padding: .5em 1em;
     background-color: rgb(119, 221, 170);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.hidden a {
    color: black;
    text-decoration: none;
    margin-left: .5em;
    font-size: .7em;
}

.hidden {
    display: none;
}