/*nav,
.main {
	float: left;
}*/

* {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	/*border:1px solid red;*/
}

body {
	background-image: url('../img/congruent_pentagon.png');
}

h1 {
	font-family: 'oswald', sans-serif;;
}

.wrapper {
	width: 100%; height: 100%;
}

nav,
.main {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;

}
nav {
	float: left;
	width: 20%;
	background-color: rgba(219, 226, 216, .8); 
	/*border: 1px solid green;*/
}

h1,
h2,
.add {
	text-align: center;
}

/*centers and takes away styling for al lists*/
.projects {
		display: table;
}
ul {
	display: table;
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

/*.projects {
	padding: 0;
	display: table;
	margin: 0 auto;
}*/

/*.projects li {
	padding-left: 10%;
}
*/

/*creating colorful bullets*/
.projects li:before {
	padding-right: .5em;
	content: "•" ;
	color: green;
}

.add {
	padding: 1em 0;
	background-color: rgb(233, 252, 223);
	border-top: 1px solid black;
}

/*circle-logo in CSS. It fills 50% of the .circle div, and is centered
between the nav*/
.circle {
	height: 105px;
	width: 50%;
	margin: 0 auto;
}

h1 {
	line-height: 3em;
	border: 7px double black;
	border-radius: 50%;
	font-size: 1.5em;
	/*text-shadow: .4em .4em .4em black;*/
}

.main {
	float: left;
	width: 80%;
	/*background-image: url('../img/congruent_pentagon.png');*/
/*	background-repeat: no-repeat;
	background-size: cover;*/
}

/*styling the articles*/


.task-sec input[type="text"] {
	/*positioning*/
	width: 75%;
	display: block;
	margin: 1em auto;

	/*styling*/
	background-color: rgba(0, 0, 0, .5);
	text-align: center;
	color: rgba(255, 255, 255, .5);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px; 


	/*border: 1px solid yellow;*/

}

ul.tasks {
	width: 75%;
	border-radius: 
}

li.task {
	text-align: center;
	/*shape of each task li*/
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: .3em 1em;
	margin-bottom: 1em;

	/*color of button*/
	background-color: rgba(255, 255, 255, .8);
	border: .2em solid rgb(250, 252, 249);
	box-shadow: 2px 2px 1px black;
}

/*move delete and checkmark to the edges*/

span.right {
	float: right;
}

span.left {
	float: left;
}

span.middle {
	margin: 0em 1em;
}
